.form-inline {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.register{
    text-align: right;
    margin-top: 3%;
    margin-right: 5%;
}

.titre-index{
    text-align: center;
    font-weight: bold;
}

.center{
    margin: auto;
    width: 50%;
}

.aligner{
    display: flex;
}

.ligne{
    color: purple;
    text-align: center;
}

.choixMise{
    
}

input#nombre:checked ~ td#choixNombre{
    display:none;
}

input#nombre:checked ~ td#choixParite{
    display:block;
}

input#parite:checked ~ td#choixParite{
    display:none;
}

input#parite:checked ~ td#choixNombre{
    display:block;
}